# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
.env/
env/
venv/

# Build & packaging artifacts
build/
dist/
*.egg-info/
src/password_gen.egg-info/
*.eggs/
*.egg

# Pytest cache
.pytest_cache/

# VS Code & IDE configs
.vscode/
.idea/

# Jupyter / Anaconda / Misc
.ipynb_checkpoints/
*.sqlite
*.log

# OS-specific
.DS_Store
Thumbs.db
